__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

venv/
ENV/
sibi_env/
.env

models/*.pkl
models/*.h5
data/raw/
audio/

.DS_Store
Thumbs.db